$font-stack: 'Roboto', sans-serif;
$Primary-color: #1D74D7;
$Secondary-color: #ffffff;
$input-color: #EAEEFF;
$Misc: '#6C6C6C';
$mortgage-Calc-width: 100%;
$row-gap: 0.62rem;
$outer-grid-column-width: 1.25rem;
$Primary-heading: 1.3rem;
$Secondary-heading: 1.2rem;
$text-sizing: 1rem;
$line-height: 1.6rem;
$single-padding:0.62rem;
$double-padding:1.25rem;